<footer>
<div class="container">
    <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
        <div class="footer-heading">
            <h2>About</h2>
        </div>
        <p>Приложение, с помощью которого можно формировать списки желаемого и делиться ими где угодно.</p>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
        <div class="footer-heading">
            <h2>Декоративная колонна</h2>
        </div>
        <ul class="footer-list">
            <li><a href="#">Которая держит</a></li>
            <li><a href="#">ФуТеР ====================</a></li>
            <li><a href="#">А то он сместится</a></li>
            <li><a href="#">Влево ====================</a></li>
            <li><a href="#">А я не умею его держать</a></li>
        </ul>
        </div>
    </div>
    
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
        <div class="footer-heading">
            <h2>Популярные маркеты</h2>
        </div>
        <ul class="footer-list">
            <li><a href="https://market.yandex.ru/">Яндекс Маркет</a></li>
            <li><a href="https://aliexpress.ru/">AliExpress</a></li>
            <li><a href="https://www.ozon.ru/">Ozon</a></li>
            <li><a href="https://www.citilink.ru/">Ситилинк</a></li>
            <li><a href="https://www.wildberries.ru/">Wildberries</a></li>
        </ul>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
        <div class="footer-heading">
            <h2>Контакты</h2>
        </div>
        <ul class="footer-list">
            <li>Phone: <a href="#">8-800-555-35-35</a></li>
            <li>Email: <a href="#">alryum@yandex.ru</a></li>
        </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="sub-footer">
        <p>Copyright &copy; 2023 Wishlist Project
            - Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo.</a> Backend by Alryum</p>
        </div>
    </div>
    </div>
</div>
</footer>